body {
	float: left;
	background: rgb(110, 132, 163);
	font-family: 'Roboto Light', Arial, Helvetica;
	font-size:16px;
	font-weight: normal;
	color: #fff;
	padding: 0;
}

.warning {
    color: #FF0000;
}

.panel_container {
	width: 480px;
	margin-left: 0px;
}

#coordtime {
	display: block;
	width: 480px;
	color: #fff;
	margin: 10px auto 0px auto;
}

.label {
	display: inline-block;
	width: 75px;
	font-size: 0.85em;
	padding: 1px 5px;
	background-color: #333;
}

.gpsfix_obtained {
	background-color: #99cc00;
}

.gpsvalues {
	width: 150px;
	color: white;
	font-size: 0.90em;
	display: inline-block;
	text-align: left;
	margin-left: 5px;
}

.time {
	margin-top: 5px;
	margin-left: 5px;
	color: white;
}

#displayctl {
	width: 480px;
	margin-top: 5px;
}

#mapcontainer, #skymapcontainer, #gpsdetailscontainer {
	width: 480px;
	height: 400px;
	margin-top: 10px;
}

#mapcontainer {
	display:block;
	margin-top: 10px;
}

#skymapcontainer {
	display:none;
	margin-bottom: -10px;
}

#gpsdetailscontainer {
	display:none;
	position: relative;
	overflow:hidden;
}

#map {
	width: 480px;
	height: 400px;
}

#sschart {
	display: block;
	height:100px;
	position:absolute;
	bottom: 0px;
	margin-left: 5px;
	z-index: 100;
}

#skymap {
	display: block;
	width: 340px;
	height: 340px;
	margin: 20px auto 0px auto;
}

#legend {
	width: 350px;
	text-align: left;
	font-family: 'Roboto Light', Arial, Helvetica;
	font-size: 0.80em;
	margin: 5px auto 0px auto;
}

#gpsdetails {
	display: block;
	width: 460px;
	font-family: 'Roboto Light', Arial, Helvetica;
	font-size: 0.80em;
}

#gpsinfo {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.gpshdr {
	width: 90px;
}

#gpssats {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
